<div [@routerTransition]>

  <!--<div class="col-12" style="text-align:center;">
    <img src="assets/images/enConstruccion.jpg" class="img-fluid pull-xs-left">
  </div>-->

    <h2 class="text-muted">Resumen del Sistema</h2>
    <!--<div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>-->
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'primary'" [link]="'/ges-egresado'" [icon]="'fa-graduation-cap'" [count]="1230" [label]="'Egresados!'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'warning'" [link]="'/programas'" [icon]="'fa-book'" [count]="97" [label]="'Programas!'" ></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'success'" [link]="'/ges-eventos'" [icon]="'fa-calendar-check-o'" [count]="124" [label]="'Eventos!'" ></app-stat>
        </div>
    </div>

    <!--<ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.card-header
                <app-timeline></app-timeline>
                <!-- /.card-body
            </div>
            <!-- /.card
        </div>
        <!-- /.col-lg-8
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header
                <app-notification></app-notification> -->
                <!-- /.card-body
            </div>
            <!-- /.card

            <app-chat></app-chat>
            <!-- /.card .chat-card
        </div>
        <!-- /.col-lg-4
    </div>-->
</div>
