<div [@routerTransition]>


    <h2 class="text-muted">Resumen del Sistema</h2>

    <div class="row">

        <div class="col-xl-4 col-lg-6" style="padding: 3px">
            <app-stat [bgClass]="'success'" [link]="'/productos'" [icon]="'fa-book'" [count]="97" [label]="'Productos!'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6" style="padding: 3px">
            <app-stat [bgClass]="'success'" [link]="'/ventas'" [icon]="'fa-calendar-check-o'" [count]="124" [label]="'Ventas!'"></app-stat>
        </div>
    </div>

</div>