<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a routerLink="/ges-egresado" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-graduation-cap"></i>&nbsp;{{ 'Gestionar Egresados' | translate }}
        </a>
        <a routerLink="/facultades" [routerLinkActive]="['router-link-active']"  class="list-group-item">
            <i class="fa fa-fw fa-building"></i>&nbsp;{{ 'Gestion de Facultades' | translate }}
        </a>
        <a routerLink="/programas" [routerLinkActive]="['router-link-active']"  class="list-group-item">
            <i class="fa fa-fw fa-building"></i>&nbsp;{{ 'Gestion de Programas' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('eventos')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Eventos' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'eventos'">
                <ul class="submenu">
                    <li>
                      <a routerLink="/categoria-eventos" [routerLinkActive]="['router-link-active']"  class="list-group-item">
                          <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Categorias' | translate }}
                      </a>
                    </li>
                    <li>
                      <a routerLink="/tipo-eventos" [routerLinkActive]="['router-link-active']"  class="list-group-item">
                          <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Tipos' | translate }}
                      </a>
                    </li>
                    <li>
                      <a routerLink="/ges-eventos" [routerLinkActive]="['router-link-active']" class="list-group-item">
                          <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Todos Eventos' | translate }}
                      </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('participacion')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Participacion democratica' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'participacion'">
                <ul class="submenu">
                    <li>
                      <a routerLink="/tipos-participacion"  class="list-group-item">
                          <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Formas de Participacion' | translate }}
                      </a>
                    </li>
                    <li>
                      <a routerLink="/ges-participacion"  class="list-group-item">
                          <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Gestionar Participaciones' | translate }}
                      </a>
                    </li>

                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('aportes')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Aportes a la investigacion' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'aportes'">
                <ul class="submenu">
                    <li>
                      <a routerLink="/tipos-aportes"  class="list-group-item">
                          <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Tipos' | translate }}
                      </a>
                    </li>
                    <li>
                      <a routerLink="/ges-aportes"  class="list-group-item">
                          <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Gestionar Aportes' | translate }}
                      </a>
                    </li>

                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('reconocimientos')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Reconocimientos a Egresados' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'reconocimientos'">
                <ul class="submenu">
                    <li>
                      <a routerLink="/tipos-reconocimientos" [routerLinkActive]="['router-link-active']" class="list-group-item">
                          <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Tipos' | translate }}
                      </a>
                    </li>
                    <li>
                      <a routerLink="/ges-reconocimiento" [routerLinkActive]="['router-link-active']" class="list-group-item">
                          <i class="fa fa-fw fa-address-card"></i>&nbsp;{{ 'Gestionar reconocimientos' | translate }}
                      </a>
                    </li>

                </ul>
            </li>
        </div>
      <!--  <a routerLink="/ges-egresado"  class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i>&nbsp;{{ 'Actividades y Servicios' | translate }}
        </a>
        <a routerLink="/ges-egresado" class="list-group-item">
            <i class="fa fa-fw fa-exchange"></i>&nbsp;{{ 'Actividades de Retribucion' | translate }}
        </a>     -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('reportes')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Reportes' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'reportes'">
                <ul class="submenu">
                    <li>
                      <a routerLink="/rep-egre-programa" [routerLinkActive]="['router-link-active']"   class="list-group-item">
                          <i class="fa fa-fw fa-file"></i>&nbsp;{{ 'Reporte Programas' | translate }}
                      </a>
                    </li>
                </ul>
            </li>
        </div>



      <!--  <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>-->
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <!--<a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>-->
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; lalejandro</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
